body {
  font-family: "Poppins", "Arial", sans-serif;
  line-height: 1;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  text-indent: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}
